
body {
    font-family: Arial, sans-serif;
    background-color: #ff7b7b;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(218, 39, 39, 0.71);
    border-radius: 8px;
    text-align: center;
    border: 2px solid #8f0505;
}

#welcome-form, #chat-room {
    display: none;
}

#welcome-form.active, #chat-room.active {
    display: block;
}

h2 {
    color: #ae2020;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

#entrar, #enviar, #sair {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#entrar {
    background-color: #630606;
    color: white;
}

#entrar:hover {
    background-color: #bd2828;
}

#enviar {
    background-color: #a50101;
    color: white;
}

#sair {
    background-color: #e46363;
    color: white;
}

button + button {
    margin-top: 10px;
}

#message {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    height: 150px;
    overflow-y: auto;
    text-align: left;
}

#messageInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

* {
    box-sizing: border-box;
}
